body {
  font-family: 'ssf4', Courier, monospace;
  background: var(--cor-secundaria);
}

body::before {
  content: '';
  background-image: url("../imagens/1cYrMYF.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabelhaco{
  z-index: 1;
  display: flex;
  justify-content: center ;
}

.cabelhaco .titulo{
  color: var(--cor-titulo-fraco);
  text-transform: uppercase;
  font-size: 52px;
  line-height: 102px;
  -webkit-text-stroke: 2px var(--cor-titulo-forte);
}

.selecao-de-personagens{
  display: flex;
  align-items: center;
  justify-content: center;
}

.selecao-de-personagens .personagens-grande{
  text-align: center;
  width: 30%;
  height: 70vh;
  position: relative;
}