:root {
  --cor-vermelha-principal: #d60223;
  --cor-vemelha-media: #f89284;
  --cor-vemelha-fraca: #ffbebe;

  --cor-marrom-fraco: #ebd5d2;

  --cor-azul-principal: #0271f7;
  --cor-azul-media: #d3ffff;
  --cor-azul-fraca: #8fbff8;

  --cor-roxa-fraca: #c2cff1;

  --cor-titulo-fraca: #faefd8;
  --cor-titulo-forte: #f77a2c;

  --cor-padrao: #ffff;
  --cor-secundaria: #000;
}
